

<div class="row">
  <h2><%= restaurant.name %></h2>
    <img src="<%= restaurant.imageURL %>" alt="pic">
    <p>Address: <%= restaurant.address %></p>
    <p><%= restaurant.postcode %></p>
    <p>Phone: <%= restaurant.phoneNumber %></p>
    <p>Website: <%= restaurant.website %></p>
    <p>Cuisine: <%= restaurant.cuisine %></p>
    <p>Food Rating: <%= restaurant.foodRating %></p>
    <p>Entertainment: <%= restaurant.entertainment %></p>
    <p>Family Friendly Rating: <%= restaurant.familyFriendlyRating %></p>
    <p>Review: <%= restaurant.review %></p>
    <% if(restaurant.user) { %>
    <p>Restaurant added by: <%= restaurant.user.username %></p>
    <% } %>


    <h4>Post a comment</h4>
    <form action="/restaurants/<%= restaurant.id %>/comments" method="post">
      <input type="text" name="content">
      <input type="submit">
    </form>

    <h4>Listing Comments</h4>
    <% restaurant.comments.forEach(comment => { %>
      <div>
        <p><strong><%= comment.user.username %></strong><%= comment.content %></p>
        <form method="post" action="/restaurants/<%= restaurant.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="delete">
          <button type="submit">Delete Comment</button>
        </form>
      </div>
    <% }) %>


    <% if(locals.isAuthenticated && restaurant.user && restaurant.user.id === locals.currentUser.id) { %>

      <div class="edit">
        <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
      </div>
      <form action="/restaurants/<%= restaurant.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn red">Delete Restaurant</button>
      </form>
    <% } %>
</div>
