
<div class="row">
  <div class="col l12 m6">
    <div class="show card teal accent-3 z-depth-3">
      <div class="card-image">
        <img class ="image" src="<%= restaurant.imageURL %>" alt="pic">
        <span class="card-title"><%= restaurant.name %></span>
      </div>
      <div class="card-content">
        <h5>Family Friendly Rating: <strong><%= restaurant.familyFriendlyRating %></strong></h5>
        <div class="col l6 m6 ">
          <p>Address: <%= restaurant.address %></p>
          <p>Postcode: <%= restaurant.postcode %></p>
          <p>Phone: <%= restaurant.phoneNumber %></p>
          <p>Website: <%= restaurant.website %></p>
        </div>
        <%# <div class="col l6 m6 "> %>
          <p>Cuisine: <%= restaurant.cuisine %></p>
          <p>Food Rating: <%= restaurant.foodRating %></p>
          <p>Entertainment: <%= restaurant.entertainment %></p>
          <% if(restaurant.user) { %>
          <p>Restaurant added by: <%= restaurant.user.username %></p>
          <% } %>
          <p>Uploader says: <%= restaurant.review %></p>
          <% if(locals.isAuthenticated && restaurant.user && restaurant.user.id === locals.currentUser.id) { %>
            <div class="edit">
              <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
            </div>
            <form action="/restaurants/<%= restaurant.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn-small waves-effect waves-light">Delete Restaurant</button>
            </form>
          <% } %>
        <%# </div> %>
        <%# <div class="col l12 m6"> %>

        <% if(locals.isAuthenticated) { %>
            <h5>Leave your review here!</h5>
            <form action="/restaurants/<%= restaurant.id %>/comments" method="post">
              <input type="text" name="content">
              <input class="btn-small waves-effect waves-light" type="submit">
            </form>
            <% } %>

            <h5>What other people have said about <%= restaurant.name %> </h5>

            <% restaurant.comments.forEach(comment => { %>
              <div>
              <% if(comment.user) { %>
                <p><strong><%= comment.user.username %></strong> - <%= comment.content %></p>

        <% if(locals.isAuthenticated && comment.user && comment.user.id === locals.currentUser.id) { %>
                <form method="post" action="/restaurants/<%= restaurant.id %>/comments/<%= comment.id %>">
                  <input type="hidden" name="_method" value="delete">
                  <button class="btn-small waves-effect waves-light" type="submit">Delete My Comment</button>
                </form>
          <% } %>
              </div>
              <% } %>
            <% }) %>


            <% if(locals.isAuthenticated && restaurant.user && restaurant.user.id === locals.currentUser.id) { %>

              <div class="edit">
                <a href="/restaurants/<%= restaurant._id %>/edit">Edit</a>
              </div>
              <form action="/restaurants/<%= restaurant.id %>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn-small waves-effect waves-light">Delete Restaurant</button>
              </form>
            <% } %>
        <%# </div> %>




        </div>

      </div>
    </div>
  </div>
</div>
